<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut ico" href="/static/img/modemrouter_102164.ico" />
    <title>TR069 - API GENIEACS</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/aca491054d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">OLT AUTH</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >TR069</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="card container">
        <div class="card-header">
          <h1 class="text-center" style="font-size: large; margin: auto">
            TR069 - API GENIEACS
          </h1>
        </div>
        <div id="mensajeAlerta"></div>
        <div class="card-body text-end">
          <br />

          <form id="tr069_form" class="row g-3" action="/guardar_cambios" method="POST">
            <!-- Importación del token CSRF para seguridad del formulario -->
            {{form.csrf_token}}
        
            <div class="row mb-3">
                {{ form.id_dispositivo.label(class="col-sm-2 col-form-label", style="font-weight: bold") }}
                <div class="col-sm-10">
                    {{ form.id_dispositivo(class="form-control", disabled=True, value=info_dispositivo['id_dispositivo']) }}
                </div>
            </div>
        
            <div class="row mb-3">
                {{ form.serial_dispositivo.label(class="col-sm-2 col-form-label", style="font-weight: bold") }}
                <div class="col-sm-10">
                    {{ form.serial_dispositivo(class="form-control", disabled=True, value=info_dispositivo['serial_dispositivo']) }}
                </div>
            </div>
        
            <div class="row mb-3">
                {{ form.ssid_dispositivo.label(class="col-sm-2 col-form-label", style="font-weight: bold") }}
                <div class="col-sm-10">
                    {{ form.ssid_dispositivo(class="form-control", id="ssid_dispositivo", value=info_dispositivo['ssid_dispositivo']) }}
                    <div class="text-center" id="ssidError" style="color: red"></div>
                </div>
            </div>
        
            <div class="row mb-3">
                {{ form.contrasena_dispositivo.label(class="col-sm-2 col-form-label", style="font-weight: bold") }}
                <div class="col-sm-10">
                    {{ form.contrasena_dispositivo(class="form-control", id="contrasena_dispositivo", value=info_dispositivo['contrasena_dispositivo']) }}
                    <div class="text-center" id="contrasenaError" style="color: red"></div>
                </div>
            </div>
        
            <div class="row mb-3">
                {{ form.ip_dispositivo.label(class="col-sm-2 col-form-label", style="font-weight: bold") }}
                <div class="col-sm-10">
                    {{ form.ip_dispositivo(class="form-control", disabled=True, value=info_dispositivo['ip_dispositivo']) }}
                </div>
            </div>
        
            <div class="row mb-3">
                {{ form.mac_dispositivo.label(class="col-sm-2 col-form-label", style="font-weight: bold") }}
                <div class="col-sm-10">
                    {{ form.mac_dispositivo(class="form-control", disabled=True, value=info_dispositivo['mac_dispositivo']) }}
                </div>
            </div>
        
            <div class="row mb-3">
                {{ form.firmware_dispositivo.label(class="col-sm-2 col-form-label", style="font-weight: bold") }}
                <div class="col-sm-10">
                    {{ form.firmware_dispositivo(class="form-control", disabled=True, value=info_dispositivo['firmware_dispositivo']) }}
                </div>
            </div>
        
            <div class="row mb-3">
                {{ form.last_boot.label(class="col-sm-2 col-form-label", style="font-weight: bold") }}
                <div class="col-sm-10">
                    {{ form.last_boot(class="form-control", disabled=True, value=info_dispositivo['last_boot']) }}
                </div>
            </div>
            
        </form>
        
          
        </div>

        <div class="card-footer contenedor">
          <div>
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_hosts">
              <strong>Hosts</strong>
              <i class="fa-solid fa-laptop"></i>
            </button>
          </div>
          <div>
            <button id="btn_refresh" class="btn btn-primary">
              <strong>Refresh</strong>
              <i class="fa-solid fa-arrows-rotate"></i>
            </button>
          </div>

          <div>
            <button id="btn_reiniciar" class="btn btn-danger">
              <strong>Reboot</strong>
              <i class="fa-solid fa-power-off"></i>
            </button>
          </div>
          <div>
            <button id="btn_guardar" class="btn btn-success">
              <strong>Save</strong>
              <i class="fa-sharp fa-regular fa-floppy-disk"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="modal_hosts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Lista de Hosts</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Tabla para mostrar lista de hosts -->

              <div class="table-responsive"></div>
                <table class="table table-bordered text-center">
                  <thead>
                    <tr class="table-secondary">
                      <th>Host</th>
                      <th>Nombre</th>
                      <th>IP</th>
                      <th>MAC</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for host_key, host_info in hosts.items() %}
                    <tr>
                      <td>{{ host_key }}</td>
                      <td>{{ host_info['host_name'] }}</td>
                      <td>{{ host_info['host_ip'] }}</td>
                      <td>{{ host_info['host_mac'] }}</td>
                    </tr>
                    {% endfor %} 
                  </tbody>
                </table>
              </div> 
            </div>
          </div>
        </div>
      </div>

      <!--Loader de carga para los botones-->
      <div class="loader" id="loader"></div>

    </main>
  </body>

  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <script src="/static/scripts.js"></script>
</html>
